<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图片盲水印</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <h2>图片盲水印系</h2>
    <br>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#home">添加水印</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menu1">提取水印</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <form class="form-horizontal" role="form" method="POST" action="/watermark/embed" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="watermark" class="col-sm-2 control-label">水印内容</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="watermark" name="watermark" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">水印类别</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" checked name="isText" value="true">文本</label>
                        <label class="radio-inline"><input type="radio" name="isText" value="false">二维码</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="image" class="col-sm-2 control-label">原始图片</label>
                    <div class="col-sm-8">
                        <input type="file" id="image" name="image" accept=".png, .jpg, .jpeg" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="submit" class="btn btn-primary">确认</button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="container">
                <p class="text-info">注意：</p>
                <p class="text-info">1、文本水印不支持中文</p>
                <p class="text-info">2、二维码水印要求图片尺寸大于800*800</p>
            </div>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <form class="form-horizontal" role="form" method="POST" action="/watermark/extract" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="picture" class="col-sm-2 control-label">原始图片</label>
                    <div class="col-sm-8">
                        <input type="file" id="picture" name="picture"  accept=".png, .jpg, .jpeg" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">水印类别</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="isText" value="true" checked>文本</label>
                        <label class="radio-inline"><input type="radio" name="isText" value="false">二维码</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="submit" class="btn btn-primary">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>